@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Lato&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth; 
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-family: "Lato", sans-serif;
    background: linear-gradient(
        to bottom,
        #454a4d 0%,
        #454a4d 17%,
        #ffffff 17%,
        #ffffff 100%
    );
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    overflow: auto;
    background: #454a4d;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    display: inline-block;

}

.nav-link {
    padding: 0 20px;
    line-height: 20px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.wrapper {
    display: flex;
}

.aside {
    width: 25%;
    margin: 40px 30px 30px 40px;
    text-align: center;
    background-color: #fcf1ef;
}

.picture-block {
    margin-top: 40px;
}

.photo {
    border-radius: 50%;
}

.title {
    margin-top: 20px;
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.capitalized {
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.rose {
    color: #fcf1ef;
}

.contacts {
    margin-top: 30px;
    margin-bottom: 30px;
}

.contacts img {
    width: auto;
    margin-bottom: -7px;
}

.contactinfo {
    margin-left: 10px;
}

hr {
    margin: 20px 30px;
    border-top: 2px solid #454a4d;
}

ul {
    list-style-position: inside;
}

li {
    margin: 20px 0px;
}

.socials {
    margin-top: 30px;
    margin-bottom: 30px;
}

.social-icon {
    margin-right: 4px;
    text-decoration: none;
}

.social-icon:hover,
.nav-link:hover {
    position: relative;
    bottom: 10px;
    transition: bottom 0.5s ease-in;
}

.main {
    width: 75%;
    margin-top: 40px;
    margin-left: 40px;
}

.title.rose {
    margin: 60px 40px 60px 0px;
}

.companyname {
    list-style-type: none;
}

.duties {
    list-style-type: disc;
}

.inbold {
    font-weight: 800;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

date {
    margin: 0 40px;
    vertical-align: super;
    font-weight: bold;
}